<!DOCTYPE html>

<html>
  <head>
    <title>Register as a Note-Taker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  
  <body>
    <h1>Register as a Note-Taker</h1>
    <h2>Tell us about yourself.</h2>
    <form method="post" action="/saveUser">
			<label>What's your Name?</label>
			<input type="text" name="username" size="20" /><br/><br/>
      <label>Email: </label><input type="email" name="useremail" /><br/><br/>
      <input type="submit" value="Register me, please!" />
    </form>
  </body>
</html>
