coverage.html
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
benchmarks/graphs
testing
pids
logs
results
npm-debug.log
node_modules/
node_modules/*
.coverage_data
cover_html
test.js
.idea