title Create an Event!
p 
  a(href='/account') HOME
div
  h2#header CrowdNotes - Review all notes from a specific event!

  div
    form(method='post')
      div
        label(for='eventid') Name of Event:
        select(id='eventid', name='eventid')
          each event in currentEvents 
            option(value='#{event._id}')= event.name
      br
      div
        input(type='submit', value='Get the notes!')
