h1= title
p Review all notes from a specific event
form(method='post')
  div
    label Name of Event:
    select(name='eventid')
      each event in currentEvents 
        option(value='#{event._id}')= event.name
  div
    input(type='submit', value='Get the notes!')
