title= title

div.container_12
  h2#header.grid_9.alpha Welcome to #{title}!
  div#auth.grid_3.omega Not authenticated
    br
    a(href='/login') Login
    br
    a(href='/register') Register
  div.clear
    
  div.grid_4.center.alpha
    h3 About CrowdNotes
  div.grid_4.center
    h3 Something
  div.grid_4.center.omega
    h3 Something else

