h1= title
h2 Welcome to #{title}!
p What would you like to do today?
ul 
  li 
    a(href="/newUser") Register a new user
  li 
    a(href="/newEvent") Create an event
  li 
    a(href="/newNote") Write a note
  li 
    a(href="/eventNotes") See all the notes from an event
  li 
    a(href="/userNotes") See all the notes from a specific user
