!!! 5
html
  head
    //title= title
    //link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/reset.css')
    //link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/960.css')
    //link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/text.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body!= body
    include includes/footer

