title Login to CrowdNotes
div.container_12
  div.grid_4
    form(action='/login', method='POST')
      #login
        label.title(for='email') Email
        br
        input(type='text', name='email')
      br
      #password
        label(for='password').title Password
        br
        input(type='password', name='password')
      #submit
        input(type='submit', value='Log Me In!') Login
  div.clear
