title Login to CrowdNotes

div
  div#header
    h2 CrowdNotes
    p Log In

  div
    form(action='/login', method='POST')
      #login.center
        input(type='text', name='email', placeholder='email@email.com')
      #password.center
        input(type='password', name='password', placeholder='password')
      #submit.button
        input(type='submit', value='Log Me In!') Login
