title Login to CrowdNotes

div
  div#header
    h2 CrowdNotes
    p Log In

  div
    form(action='/login', method='POST')
      #login.center
        label.title(for='email') Email
        br
        input(type='text', name='email')
      #password.center
        label(for='password').title Password
        br
        input(type='password', name='password')
      #submit.button
        input(type='submit', value='Log Me In!') Login
