title Create an Event!
p 
  a(href='/account') HOME
div.container_12
  h2#header.grid_12 CrowdNotes - Create an Event!
  div.clear

  div.grid_4
    form(method='post')
      div
        label(for='eventname') Name of Event:
        br
        input(id='eventname', type='text', name='eventname', size='20')
      br
      div
        label(for='eventdate') Date:
        br
        input(id='eventdate', type='date', name='eventdate')
      br
      div
        label(for='eventdesc') Description:
        br
        input(id='eventdesc', type='text', name='eventdesc')
      br
      div
        label(for='eventhash') Hashtag:
        br
        input(id='eventhash', type='text', name='eventhash')
      br
      div
        input(type='submit', value='Save my Event!')
