h1= title
p Create an Event!
form(method='post')
  div
    label Name of Event:
    input(type='text', name='eventname', size='20')
  div
    label Date:
    input(type='date', name='eventdate')
  div
    label Description:
    input(type='text', name='eventdesc')
  div
    input(type='submit', value='Save my Event!')
