h1= title
p What are you learning?
form(method='post')
  div
    label Name:
    select
      each user in currentNames
        option(value='#{user._id}')= user.name
  div
    label Note: 
    textarea(name="note", rows="15", cols="30")
  div
    label Event:
    select
      each event in currentEvents
        option(value="#{event._id}")= event.name
  div
    input(type="submit", value="Save My Note!")
