h1= title
p What are you learning?
form(method='post')
  div
    label Name:
    input(type="text", name="username", size="20")
  div
    label Note: 
    textarea(name="note", rows="15", cols="30")
  div
    label Event:
    select
      - 
  div
    input(type="submit", value="Save My Note!")
