h1= title
p Hi, #{everyauth.user.name.first}!
p What are you learning?
form(method='post')
  div
    input(name='userid', value='#{everyauth.user.id}', type='hidden')
  div
    label Note: 
    textarea(name="note", rows="15", cols="30")
  div
    label Event:
    select(name='eventid')
      each event in currentEvents
        option(value="#{event._id}")= event.name
  div
    input(type="submit", value="Save My Note!")
