title= title
p 
  a(href='/account') HOME
p Register a New User
form(method='post')
  div
    label Name:
    input(type='text', name='username', size='20')
  div
    label Email:
    input(type='email', name='useremail')
  div
    input(type='submit', value='Register me!')
