title Register a New User

div
  div#header
    h2 CrowdNotes
    p Register as a User

  div
    form(action='/register', method='POST')
      #login.center
        input(type='text', name='email', placeholder='email@email.com')
      #password.center
        input(type='password', name='password', placeholder='password')
      #first-name.center
        input(type='text', name='name.first', placeholder='First Name')
      #last-name.center
        input(type='text', name='name.last', placeholder='Last Name')
      #submit.button
        input(type='submit') Register

div.button 
  a(href='/account') HOME
