title Register a New User
p 
  a(href='/account') HOME

div.container_12
  div.grid_4
    form(action='/register', method='POST')
      #login
        label(for='email') Email
        br
        input(type='text', name='email')
      br
      #password
        label(for='password') Password
        br
        input(type='password', name='password')
      br
      #first-name
        label(for='name.first') First Name
        br
        input(type='text', name='name.first')
      br
      #last-name
        label(for='name.last') Last Name
        br
        input(type='text', name='name.last')
      br
      #submit
        input(type='submit') Register
  div.clear
