title Set My Event

div
  div#header
    h2 CrowdNotes
    p Pick My Event

  form(method='post')
    div
      each event in currentEvents
        p
          a(href= '/setEvent/#{event._id}')= event.name

div.button 
  a(href='/account') HOME
