title Set Your Event

div
  div#header
    h2 CrowdNotes
    p Pick Your Event

  form(method='post')
    div.center
      label(for='eventid') Event:
      br
      select(id='eventid', name='eventid')
        each event in currentEvents
          option(value='#{event._id}')= event.name
    div.button
      input(type='submit', value='Set My Event!')

div.button 
  a(href='/account') HOME
