body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

#header
  outline 1px solid black
  height h = 60px
  padding-top (h / 2) 
  text-align center

#auth
  outline 1px solid black
  height h = 60px
  padding-top (h / 3)
  padding-bottom (h / 6)
  text-align center

.title
  //outline 1px solid black
  text-align right
  width 100px
  padding-right 10px

.center
  text-align center
  height h = 30px
  padding-top (h / 2)  
  outline 1px solid black

#topOptions, #midOptions
  display inline-block

.notesList
  list-style-type none

.note
  list-style-type none 
  display inline-block


.hidden
  visibility hidden

