body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#header {
  outline: 1px solid #000;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 26.666666666666668px;
  text-align: center;
}
.button {
  outline: 1px solid #000;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 13.333333333333334px;
  text-align: center;
}
.title {
  text-align: right;
  width: 100px;
  padding-right: 10px;
}
.center {
  text-align: center;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  outline: 1px solid #000;
}
.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.notesList {
  list-style-type: none;
}
.note {
  list-style-type: none;
  display: inline;
}
.note float,
.note .name {
  color: #00f;
}
.note .event {
  color: #008000;
}
.hidden {
  visibility: hidden;
}
