body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#header {
  border: 2px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 13.333333333333334px;
  text-align: center;
}
.button {
  border: 2px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 13.333333333333334px;
  text-align: center;
}
.title {
  text-align: right;
  width: 100px;
  padding-right: 10px;
}
.center {
  text-align: center;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.notesList {
  list-style-type: none;
}
.note {
  list-style-type: none;
  display: inline;
}
.hidden {
  visibility: hidden;
}
.boxsizing_border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
textarea {
  margin: 0 auto;
  width: 100%;
  color: #000;
  border: 2px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}
.currentNote {
  margin-bottom: 40px;
}
.time {
  display: inline-block;
  float: right;
  clear: right;
}
.body {
  display: inline-block;
  width: 85%;
}
.user {
  float: right;
  margin-bottom: 10px;
}
.eventname {
  display: inline-block;
  float: left;
  width: 50%;
}
.eventate {
  display: inline-block;
  float: right;
}
.footer {
  text-align: center;
}
