body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#header {
  outline: 1px solid #000;
  height: 60px;
  padding-top: 30px;
  text-align: center;
}
#auth {
  outline: 1px solid #000;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.title {
  text-align: right;
  width: 100px;
  padding-right: 10px;
}
.center {
  text-align: center;
  height: 30px;
  padding-top: 15px;
  outline: 1px solid #000;
}
#topOptions,
#midOptions {
  display: inline-block;
}
.notesList {
  list-style-type: none;
}
.note {
  list-style-type: none;
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
