body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

// height for boxes
header_height = 80px
button_height = 40px

#header
  outline 1px solid black
  height header_height
  padding-top (header_height / 8) 
  padding-bottom (header_height / 8)
  margin-bottom (header_height / 3)
  text-align center

.button
  outline 1px solid black
  height button_height
  padding-top (button_height/ 2)
  margin-bottom (button_height/ 3)
  text-align center

.title
  //outline 1px solid black
  text-align right
  width 100px
  padding-right 10px

.center
  text-align center
  height h = button_height
  padding-top (h / 2)  
  margin-bottom (h / 2)
  outline 1px solid black

.options
  list-style-type none
  margin 0
  padding 0

.notesList
  list-style-type none

.note
  list-style-type none 
  display inline
  float
  .name 
    color blue
  .event
    color green

.hidden
  visibility hidden

